.nav {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-links {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      li {
        margin-right: 20px;
        &:last-child {
          margin: 0;
        }
        a {
          font-weight: 700;
          font-size: 15px;
          line-height: 18px;
          color: $white2;
          &:hover {
            opacity: 1;
            color: $primary;
          }
        }
      }
    }
    &-buttons {
      display: flex;
      align-items: center;
    }
    &-social {
      display: flex;
      margin-left: 27px;
      a {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        color: $white;
        &:hover {
          opacity: 1;
          color: $primary;
        }
        &:last-child {
          margin: 0;
        }
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.burger {
  display: none;
}
// 1024px
@include lg-xlg {
  body.active {
    overflow: hidden;
  }
  .nav {
    position: fixed;
    top: 82px;
    left: 0;
    width: 100%;
    height: calc(100% - 82px);
    z-index: 9;
    background: rgba($color: #000000, $alpha: 0.4);
    transform: translateX(100%);
    @include transition;
    &.active {
      @include transformReset;
    }
    &__inner {
      flex-direction: column;
      position: absolute;
      justify-content: unset;
      align-items: center;
      box-sizing: border-box;
      top: 0;
      right: 0;
      width: 100%;
      max-width: 390px;
      z-index: 1;
      padding: 50px 20px 20px 20px;
      height: 100%;
      overflow-y: auto;
      background: $black;
      &-links {
        position: static;
        transform: translate(0);
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        li {
          margin: 0 0 30px 0;
          a {
            font-size: 18px;
            line-height: 120%;
          }
        }
      }
      &-buttons {
        width: 100%;
        flex-direction: column;
        align-items: center;
      }
      &-social {
        order: -1;
        margin: 0 0 30px 0;
      }
    }
  }
  .burger {
    display: block;
    cursor: pointer;
    @include transition;
    position: relative;
    width: 30px;
    height: 30px;
    &:hover {
      opacity: 0.8;
    }
    &::before {
      top: 16%;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background-color: $primary;
      transition: all 0.3s ease;
      content: "";
      position: absolute;
      left: 50%;
      @include transformX;
    }
    span {
      top: 50%;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background-color: $primary;
      transition: all 0.3s ease;
      position: absolute;
      left: 50%;
      @include transform;
      @include transition;
    }
    &::after {
      bottom: 16%;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background-color: $primary;
      transition: all 0.3s ease;
      content: "";
      position: absolute;
      left: 50%;
      @include transformX;
    }
    &.active {
      &::before {
        top: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
      }
      span {
        opacity: 0;
      }
      &::after {
        bottom: 50%;
        -webkit-transform: translate(-50%, 50%) rotate(-45deg);
        transform: translate(-50%, 50%) rotate(-45deg);
      }
    }
  }
}
// 540px
@include xsm-sm {
  .nav {
    top: 70.58px;
    height: calc(100% - 70.58px);
  }
}