.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  .auto__container {
    max-width: 1370px;
  }
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation-name: sticky;
    animation-duration: 0.4s;
    box-shadow: 0px 4px 4px 0px #00000021;
    background-color: $black;
  }
  &__inner {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 85px;
      img {
        width: 100%;
      }
    }
  }
}
// 1024px
@include lg-xlg {
  .header {
    background-color: $black;
    &__inner {
      padding: 18px 0;
    }
  }
}
// 540px
@include xsm-sm {
  .header {
    &__inner {
      padding: 15px 0;
      &-logo {
        width: 75px;
      }
    }
  }
}
@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
